.logout{
	position: absolute;
	top: 1vh;
	left: 1vh;
	height:5vh;
	width:5vh;
	border: none;
	background-color: transparent;
	background-image: url(../media/system/logout.svg);
	background-size: contain;
	transition: all 0.5s;
}

.formInput{
	display: block;
	width: 100%;
}

#loginForm, #registerForm{
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}

.footer-container{
	position: absolute;
	bottom: 0;
	width: 100vw;
}

#goAhead:after{
	content: '\25b6';
}

#goBack:after{
	content: '\25C0';
}

#goAhead, #goBack{
	border: none;
	height:300px;
}

#goAhead{
	margin-left: 10px;
}

#goBack{
	margin-right: 10px;
	
}



.main{
	text-align: center;
}

.center{
	width: auto;
	height: auto;
	display: inline-block;
}

.float{
	float: left;
}

.videoDescription{
	background-color: #f16529;
	color: white;
}

.videoDescription > h2{
    margin-top: 0px;
    border-top: 20px solid #e44d26;
    padding-top: 20px;
}

.videoDescription p{
    width: 70%;
    margin-left: 15%;
}
.videoDescription, .videoVideo{
	height: 300px;
	width: 300px;
}

.noteDesc{
	overflow-y: auto;
	margin: 5px;
	width: 290px;	
	display: inline-block;
	
}

.noteCenter{
	overflow-y: auto;
	max-height: 50vh;
	border: 1px solid black;
	text-align: center;
	margin-top: 30px;
}

.delete{
	cursor: pointer;
	text-decoration: underline;
}